.modal-container {
  background: #00000022;
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner-modal {
  background-color: #88ac7888;
  width: 12rem;
  height: 10rem;
  border-radius: .2rem;
  margin: 18rem auto 0;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

#quit {
  width: 20px;
}

.translation {
  margin-top: .5rem;
}

.translation > li {
  list-style-type: none;
}

.modal-author {
  margin-top: .5rem;
}