.modal-container {
  background: #00000077;
  position: fixed;
  display: none;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner-modal {
  background-color: #41644A;
  width: 25%;
  height: 20rem;
  border-radius: .2rem;
  margin: 30vh auto;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.modal-input {
  background: transparent;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #fff;
}
textarea {
  width: 95%;
  border: none;
  outline: none;
  background: $bg-color-primary;
  color: $font-color-main;
}
#quit {
  width: 20px;
}

.translation {
  margin-top: .5rem;
}

.translation > li {
  list-style-type: none;
}

.modal-author {
  margin-top: .5rem;
}