@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'mixins';
$bg-color-primary: #444;
$bg-color-secondary: #666;
$font-color-main: #ddd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color-primary;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $font-color-main;
}

.heading {
  font-size: 3rem;
  margin: 3rem 0;
}

.sub-heading {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.container {
  @include flexCenter(column);
}

.form-container {
  @include flexCenter(column);
  width: 16rem;
  height: 20rem;
  background: $bg-color-secondary;
  border-radius: 10px;
  label {
    text-align: left;
    border-bottom: 1rem;
  }

  input {
    font-family: inherit;
    background: transparent;
    outline: none;
    color: $font-color-main;
    border: none;
    border-bottom: 2px solid $font-color-main;
    margin-bottom: 2rem;
  }
  button {
    width: 9rem;
    font-family: inherit;
    background: #88ac78 ;
    padding: .3rem;
    border: none;
    border-radius: 5px;
  }
}

.content {
  @include flexCenter();
  justify-content: space-around;
  width: 75vw;
  height: 50vh;
}

.table {
  width: 40%;
  height: 100%;

  &__header {
    font-size: 1.5rem;
  }
}

.latest-entries {
  width: 100%;
  height: 50vh;
  background: #666;
  padding: 2rem .5rem;
  border-radius: 10px;

  div {
    display: flex;
    justify-content: space-between;
  }

  .word,
  .date {
    font-size: 1.4rem;
    padding: .2rem 1rem;
  }
  }

.edit,
.delete {
  width: 2rem;
  font-size: 1.4rem;
  margin: .1rem .5rem;
  background: #dddddd;
  border: none;
  border-radius: 50%;
}

.edit:hover,
.delete:hover,
.word:hover {
  filter: brightness(80%);
}
.delete {
  color: red;
}