@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'mixins';
@import 'buttons';
$bg-color-primary: #444;
$bg-color-secondary: #666;
$font-color-main: #ddd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color-primary;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $font-color-main;
}

.heading {
  font-size: 3rem;
  margin: 3rem 0;
}

.sub-heading {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.container {
  @include flexCenter(column);
}

.form-container {
  @include flexCenter(column);
  width: 16rem;
  height: 20rem;
  background: $bg-color-secondary;
  border-radius: 10px;
  label {
    text-align: left;
    border-bottom: 1rem;
  }

  input {
    font-family: inherit;
    background: transparent;
    outline: none;
    color: $font-color-main;
    border: none;
    border-bottom: 2px solid $font-color-main;
    margin-bottom: 2rem;
  }
  button {
    width: 9rem;
    font-family: inherit;
    background: #88ac78 ;
    padding: .3rem;
    border: none;
    border-radius: 5px;
  }
}

.content {
  @include flexCenter();
  justify-content: space-around;
  width: 75vw;
  height: 50vh;
}

.table {
  margin-top: 20%;
  width: 40%;
  height: 100%;
  overflow: hidden;

  &__header {
    font-size: 1.5rem;
  }
}

.latest-entries {
  margin-top: 1rem;
  width: 100%;
  height: 30vh;
  background: #666;
  padding: .2rem .8rem .5rem .2rem;
  //border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: content-box;
  div {
    display: flex;
    justify-content: space-between;
  }

  .word {
    font-size: 1.2rem;
    padding: .2rem 1rem;
  }
  .date,
  .author {
    line-height: 27px;
    font-size: .8rem;
  }
  }


@media (max-width: 1400px) {
  .date {
    display: none;
  }
}

@media (max-width: 1100px) {
  .content {
    @include flexCenter(column);
    justify-content: center;
    width: 95vw;
  }

  .table {
    width: 100%;
    margin: 3% 0;
  }
  .button-container {
    width: 95vw;
    @include flexCenter(column)
  }
  .btn-green-big {
    width: 100%;
  }
}